# 1068. Product Sales Analysis I

SQL SchemaPandas SchemaTable: Sales+-------------+-------+| Column Name | Type  |+-------------+-------+| sale_id     | int   || product_id  | int   || year        | int   || quantity    | int   || price       | int   |+-------------+-------+(sale_id, year) is the primary key (combination of columns with unique values) of this table.product_id is a foreign key (reference column) to Product table.Each row of this table shows a sale on the product product_id in a certain year.Note that the price is per unit. Table: Product+--------------+---------+| Column Name  | Type    |+--------------+---------+| product_id   | int     || product_name | varchar |+--------------+---------+product_id is the primary key (column with unique values) of this table.Each row of this table indicates the product name of each product. Write a solution to report the product_name, year, and price for each sale_id in the Sales table.Return the resulting table in any order.The result format is in the following example. **Example 1:**Input: Sales table:+---------+------------+------+----------+-------+| sale_id | product_id | year | quantity | price |+---------+------------+------+----------+-------+ | 1       | 100        | 2008 | 10       | 5000  || 2       | 100        | 2009 | 12       | 5000  || 7       | 200        | 2011 | 15       | 9000  |+---------+------------+------+----------+-------+Product table:+------------+--------------+| product_id | product_name |+------------+--------------+| 100        | Nokia        || 200        | Apple        || 300        | Samsung      |+------------+--------------+Output: +--------------+-------+-------+| product_name | year  | price |+--------------+-------+-------+| Nokia        | 2008  | 5000  || Nokia        | 2009  | 5000  || Apple        | 2011  | 9000  |+--------------+-------+-------+Explanation: From sale_id = 1, we can conclude that Nokia was sold for 5000 in the year 2008.From sale_id = 2, we can conclude that Nokia was sold for 5000 in the year 2009.From sale_id = 7, we can conclude that Apple was sold for 9000 in the year 2011.

## Solution Explanation
This problem requires joining two tables (Sales and Product) to get the product name, year, and price for each sale. We need to:1. Join the Sales table with the Product table using the product_id as the common key2. Select the product_name from the Product table, and year and price from the Sales table3. Return the result in any orderThis is a straightforward SQL join operation. In pandas, we can use the merge function to join the two DataFrames.

In [ ]:
import pandas as pddef sales_analysis(sales: pd.DataFrame, product: pd.DataFrame) -> pd.DataFrame:    """    Perform a join operation between sales and product tables to get product_name, year, and price.        Args:        sales: DataFrame containing sales data with columns sale_id, product_id, year, quantity, price        product: DataFrame containing product data with columns product_id, product_name            Returns:        DataFrame with columns product_name, year, price    """    # Merge the two DataFrames on product_id    result = sales.merge(product, on='product_id', how='left')        # Select only the required columns    result = result[['product_name', 'year', 'price']]        return result

## Time and Space Complexity
* *Time Complexity**: O(n + m), where n is the number of rows in the Sales table and m is the number of rows in the Product table. The merge operation in pandas has to scan both DataFrames once.* *Space Complexity**: O(n), where n is the number of rows in the Sales table. The resulting DataFrame will have the same number of rows as the Sales table, as we're doing a left join and each sale will appear exactly once in the result.

## Test Cases

In [ ]:
import pandas as pdimport unittestclass TestSalesAnalysis(unittest.TestCase):    def test_example_case(self):        sales_data = {            'sale_id': [1, 2, 7],            'product_id': [100, 100, 200],            'year': [2008, 2009, 2011],            'quantity': [10, 12, 15],            'price': [5000, 5000, 9000]        }                product_data = {            'product_id': [100, 200, 300],            'product_name': ['Nokia', 'Apple', 'Samsung']        }                sales = pd.DataFrame(sales_data)        product = pd.DataFrame(product_data)                result = sales_analysis(sales, product)                expected_data = {            'product_name': ['Nokia', 'Nokia', 'Apple'],            'year': [2008, 2009, 2011],            'price': [5000, 5000, 9000]        }        expected = pd.DataFrame(expected_data)                pd.testing.assert_frame_equal(result.reset_index(drop=True), expected.reset_index(drop=True), check_dtype=False)        def test_empty_sales(self):        sales = pd.DataFrame(columns=['sale_id', 'product_id', 'year', 'quantity', 'price'])        product_data = {            'product_id': [100, 200],            'product_name': ['Nokia', 'Apple']        }        product = pd.DataFrame(product_data)                result = sales_analysis(sales, product)                expected = pd.DataFrame(columns=['product_name', 'year', 'price'])        pd.testing.assert_frame_equal(result, expected, check_dtype=False)        def test_product_not_in_sales(self):        sales_data = {            'sale_id': [1, 2],            'product_id': [100, 100],            'year': [2008, 2009],            'quantity': [10, 12],            'price': [5000, 5000]        }                product_data = {            'product_id': [100, 200, 300],            'product_name': ['Nokia', 'Apple', 'Samsung']        }                sales = pd.DataFrame(sales_data)        product = pd.DataFrame(product_data)                result = sales_analysis(sales, product)                expected_data = {            'product_name': ['Nokia', 'Nokia'],            'year': [2008, 2009],            'price': [5000, 5000]        }        expected = pd.DataFrame(expected_data)                pd.testing.assert_frame_equal(result.reset_index(drop=True), expected.reset_index(drop=True), check_dtype=False)# Run the testsif __name__ == '__main__':    unittest.main(argv=['first-arg-is-ignored'], exit=False)